/* SPDX-FileCopyrightText: 2025 hexaTune LLC */
/* SPDX-License-Identifier: MIT */

@import 'tailwindcss';
@plugin 'daisyui' {
	themes:
		light --default,
		dark --prefersdark;
	logs: false;
}
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';
